<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hy.wanandroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--安装位置来源应用-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <application
        android:name=".config.App"
        android:allowBackup="false"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:debuggable="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning,HardcodedDebugMode">
        <activity
            android:name=".view.MainActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"/>

        <activity
            android:name=".view.hierarchy.HierarchySecondActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".view.navigation.NavigationActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".view.search.SearchActivity"
            android:launchMode="singleTask"
            android:theme="@style/SearchActivityStyle" />
        <activity
            android:name=".view.homepager.ArticleActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".view.mine.LoginActivity"
            android:label="@string/title_activity_login"
            android:launchMode="singleTop"/>
        <activity
            android:name=".view.mine.RegisterActivity"
            android:launchMode="singleTop"/>

        <activity
            android:name=".view.mine.AboutUsActivity"
            android:label="@string/title_activity_about_us"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.mine.CollectionActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".view.mine.SettingsActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".view.LaunchActivity"
            android:theme="@style/LauncherTheme"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".component.UpdataService"
            android:enabled="true"
            android:exported="true"/>

        <receiver
            android:name=".component.UpdataReceiver"
            android:enabled="true"
            android:exported="true"/>

    </application>

</manifest>